# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

## Xcode Derived Data
DerivedData/
*.hmap
*.ipa
*.xcarchive

## Xcode project user data (but keep the project file itself)
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
/Packages/

## Carthage
Carthage/Build/

## CocoaPods
Pods/
Podfile.lock

## Accio dependency management
Dependencies/
.accio/

## fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

## Code Injection
iOSInjectionProject/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.DocumentRevisions-V100
.fseventsd
.TemporaryItems
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
